<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Manager</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href = "main.css" rel="stylesheet">

    
</head>
<body>
    <div class='container-fluid'>
        <div class="row">
            <div id="navbar" class="col-md-3">
                <div class="nav-item">Home</div>
                <div class="nav-item">Settings</div>
                <div class="nav-item">Profile</div>
            </div> -->

            <%- include("partials/header") %>

            <div class="col-md-9">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="budget-overview">
                                <div> Budget Overview</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <canvas id="expense-percentage" width="200" height="173"></canvas>
                                    </div>
                                    <div style="text-align: center;font-size:1.2rem;" class="mt-4 col-md-6">
                                        <div> Total Budget </div>
                                        <div> Rs <%= budget.budget %> </div>
                                        <div class="mt-3">Total Expenditure</div>
                                        <div>Rs <%= budget.expenditure %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="expense-overview">
                                <div> Expense Overview</div>
                                <div style="display:block;height:177px;">
                                    <canvas id="myChart" width="300" height="300"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Add Expense
                        </button>
  
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            
                            <div class="modal-dialog">
                            <div class="modal-content">
                                
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Expense</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="POST" action='/expense/new'>
                                    <div class="modal-body">
                                        <label>Category</label>
                                        <select name="category" required>
                                            <% categories.forEach(category=>{ %>
                                                <option value="<%=category._id%>"><%=category.title%></option>
                                                <% }) %>
                                        </select>
                                    </div>
                                    <div class="modal-body">
                                        <label>Item Name</label>
                                        <input name="itemName" type="text" required>
                                    </div>
                                    <div class="modal-body">
                                        <label>Amount</label>
                                        <input type="number" name="amount" required>
                                    </div>
                                    <div class="modal-body">
                                        <label>Date</label>
                                        <input type="date" name="date" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add Expense</button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                </div>

                <div>
                    <div id="expense-heading" class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">Category</div>
                        <div class="col-md-3">Item Name</div>
                        <div class="col-md-1">Amount</div>
                        <div class="col-md-3">Date</div>
                    </div>
                    <% data.forEach( (data,i) =>{ %>
                        <div class=" <% if(data.delete==true) { %>
                            delete
                            <% } else { %> not-delete <% } %>
                            row expense-items row">
                            <div class="col-md-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                          </svg>
                                    </div>
                                    <div class="col-md-4">
                                        <div style="cursor:pointer;" class="col-md-1 edit"  data-id="<%=data._id%>" id="edit-it" data-bs-toggle="modal" data-bs-target="#editmodal">Edit
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                                
                            <div class="col-md-3">
                                <%= data.category.title %>
                            </div>
                            <div class="col-md-3">
                                <%= data.itemName %>
                            </div>
                            <div class="col-md-1">
                                <%= data.amount %>
                            </div>
                            <div class="col-md-3">
                                <%= data.date.toDateString() %>
                            </div>
                            <div  style="font-size: 15px;" class="col-md-1 px-0">
                                <div class="row">
                                    <div class="col-md-4 px-0">
                                        <% if (data.delete==false) { %>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                            </svg>
                                            <% } else { %>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                                </svg>
                                                <% } %>
                                    </div>
                                    <div style="cursor:pointer;" class="col-md-4 px-0">
                                        <div data-id = "<%=data._id%>"class="delete-item">Delete</div>
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>
                    <% }) %>
                    
                    <div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                            
                        <div class="modal-dialog">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Expense</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="POST" action='/expense/edit'>
                                <input id="edit-id" name="id" style="display:none;">
                                <div class="modal-body">
                                    <label>Category</label>
                                    <select name="category" required>
                                        <% categories.forEach( category => { %>
                                            <option value="<%=category._id%>"><%=category.title%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="modal-body">
                                    <label>Item Name</label>
                                    <input id="edit-itemName" name="itemName" type="text" required>
                                </div>
                                <div class="modal-body">
                                    <label>Amount</label>
                                    <input id="edit-amount" type="number" name="amount" required>
                                </div>
                                <div class="modal-body">
                                    <label>Date</label>
                                    <input id="edit-date" type="date" name="date" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script>
        let data = '<%- JSON.stringify(budget)%>'
        data = JSON.parse(data)
        let val =0;
        if(Number(data["budget"])!=0)
            val = Number(data["expenditure"])*100/Number(data["budget"])
        if(val>100)
            val=100;
        // document.getElementById('expense-percentage').innerText = String(val)+" %";

        var canvas = document.getElementById('expense-percentage');
        var context = canvas.getContext('2d');
        var al=0;
        var start=4.72;
        var cw=context.canvas.width/2;
        var ch=context.canvas.height/2;
        var diff;
        
        function progressBar(){
            diff=(al/100)*Math.PI*2;
            context.clearRect(0,0,400,200);
            context.beginPath();
            context.arc(cw,ch,50,0,2*Math.PI,false);
            context.fillStyle='#FFF';
            context.fill();
            context.strokeStyle='#e7f2ba';
            context.stroke();
            context.fillStyle='#000';
            context.strokeStyle='#b3cf3c';
            context.textAlign='center';
            context.lineWidth=15;
            context.font = '10pt Verdana';
            context.beginPath();
            context.arc(cw,ch,50,start,diff+start,false);
            context.stroke();
            context.fillText(al+'%',cw+2,ch+6);
            if(al>=val){
                clearTimeout(bar);
            }
            
            al++;
        }
        
        var bar=setInterval(progressBar,50);
    </script>
    
    <!-- Expense Percentage -->

    
    <script>

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        let obj = JSON.parse('<%- JSON.stringify(categorydata) %>')
        console.log(obj)
        let keys = []
        let values = []
        let colors = []
        for(let key in obj){
            keys.push(key);
            values.push(obj[key]);
            colors.push(getRandomColor());
        }
        console.log(values)
        // Pie Chart
        if(keys.length>5){
            let ctx = document.getElementById('myChart').getContext('2d');
            ctx.height=100;

            var barChart = new Chart(ctx,{
                type:'bar',
                data: {
                    labels: keys,
                    datasets: [{
                        label: 'Expenses',
                        data: values,
                        backgroundColor: colors,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })
            barChart.aspectRatio = 0;
        }else{
            let ctx = document.getElementById('myChart');
            let chartData = {
                datasets: [{
                    data: values,
                    backgroundColor: colors
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: keys
            };
            ctx.height=130;
            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: chartData,
                options: {
                    responsive: true,
                    title:{
                        display: true,
                        text: "Expenses"
                    }
                }
                
            });
        }
        
    </script>

   
</body>
</html>